<div class="app-container">
  <div class="app-navigation">
    <div class="divider" role="separator" aria-label="Divider"></div>
    <ul class="app-navigation__list">
      @for(route of routes; track route.component){
      <li class="app-navigation__item">
        <a class="app-link" [routerLink]="route.path" routerLinkActive="router-link-active">
          {{route.title}}
        </a>
      </li>
      }
    </ul>
  </div>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
